@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Form input and textarea base styles */
input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
  @apply text-black;
}

/* Button base styles */
button,
button[type='submit'] {
  @apply rounded px-4 py-2 text-white;
}

button.secondary {
  @apply border bg-white text-black;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Markdown styles */
@layer components {
  .markdown h1 {
    @apply mb-4 mt-8 font-space-grotesk text-[39px] font-semibold;
  }

  .markdown h2 {
    @apply mb-3 mt-6 font-space-grotesk text-[30px] font-semibold;
  }

  .markdown h3 {
    @apply mb-2 mt-5 font-space-grotesk text-[20px] font-semibold;
  }

  .markdown h4 {
    @apply mb-2 mt-4 font-space-grotesk text-[18px] font-semibold;
  }

  .markdown h5 {
    @apply mb-2 mt-5 font-space-grotesk text-[20px] font-semibold;
  }

  .markdown h6 {
    @apply mb-2 mt-3 font-space-grotesk text-[16px] font-semibold;
  }

  .markdown p {
    @apply mb-4 text-[16px] font-normal text-black;
  }

  .markdown a {
    @apply text-blue-500 hover:underline;
  }

  .markdown blockquote {
    @apply my-4 border-l-4 border-gray-300 pl-4 italic;
  }

  .markdown ul {
    @apply mb-4 list-inside list-disc pl-4;
  }

  .markdown ul ul {
    @apply list-disc pl-8;
  }

  .markdown ul ul ul {
    @apply list-disc pl-12;
  }

  .markdown ol {
    @apply mb-4 list-inside list-decimal pl-4;
  }

  .markdown ol ol {
    @apply list-decimal pl-8;
  }

  .markdown ol ol ol {
    @apply list-decimal pl-12;
  }

  .markdown li {
    @apply mb-2;
  }

  .markdown pre {
    @apply mb-4 rounded bg-gray-100 p-4;
  }

  .markdown code {
    @apply rounded bg-gray-200 p-1 text-sm;
  }

  .markdown button {
    @apply text-black;
  }
}
